<h3>Carro</h3>
<button style="margin-bottom: 10px;" routerLink="/createCar">Cadastrar</button>
<table>
  <tr>
    <th>Ano</th>
    <th>Placa</th>
    <th>Modelo</th>
    <th>Cor</th>
    <th></th>
  </tr>
  <tr *ngFor="let car of listCars">
    <td>{{car.carYear}}</td>
    <td>{{car.licensePlate}}</td>
    <td>{{car.model}}</td>
    <td>{{car.color}}</td>
    <td>
      <button (click)="update(car.id!)">Atualizar</button>
      <button (click)="delete(car.id!)">Excluir</button>
    </td>
  </tr>
</table>
